<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

  <style>
        .navbar-nav  li a:hover {
            color: #0300a3 !important;
        }
        </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li class="active"><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
      </ul>
    </div>
  </nav>


    <!-- First Container -->
<div class="container-fluid bg-1 text-align:left">
    <h3 class="margin">Problem</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Choose your problem</label>
      <select class="form-control" id="exampleSelect1">
        <option>Me preocupa mi privicidad</option>
        <option>Me están molestando</option>
        <option>No me siento seguro</option>
        <option>He recibido algún tipo de amenaza</option>
        <option>Otro</option>
      </select>
    </div>
    <div class="form-group">
        <label for="exampleTextarea">Especificar el problema</label>
        <textarea class="form-control" id="problema" rows="3"></textarea>
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form> 
  </div>
  </div>
  
  Third Container (Grid)
  <div class="container-fluid bg-3 text-center">    
    <!-- <h3 class="margin">Where To Find Me?</h3><br> -->
    <div class="row">
      <div class="col-sm-4">
        <p></p>
        <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p></p>
        <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p></p>
        <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p> <a href=""></a></p> 
  </footer>

</body>
</html>