<div id= "contact">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li class="active"><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if(typeof user !== "undefined"){ %>
            <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> logout</a></li>
          <% }else{ %>
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
         <% } %>
      </ul>
    </div>
  </nav>

<br><br>
    <!-- First Container -->
    <div class="container-fluid bg-12">
        <fieldset>
          <legend>Problem</legend>
        </fieldset>
          </div>

    <div class="container-fluid bg-13">
    
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
   
    <div class="form-group">
      <label for="exampleSelect1">Choose your problem</label>
      <select class="form-control" id="exampleSelect1">
        <option>Me preocupa mi privacidad</option>
        <option>Me están molestando</option>
        <option>No me siento seguro</option>
        <option>He recibido algún tipo de amenaza</option>
        <option>Otro</option>
      </select>
    </div>
    
    <div class="form-group">
        <label for="exampleTextarea">Especificar el problema</label>
        <textarea class="form-control" id="problema" rows="3"></textarea>
      </div>
    
      <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
  </div>

  <!-- </form>  -->
  
  
<!-- 
  
  <Third Container (Grid)></Third>
  <div>    
        <img class="container-fluid bg-8 text-center"; src="https://s1.mundogamers.com/img/fronts/2439/big/5a93d3ce-7944-47df-9372-2b5ab2217404.jpg" class="img-responsive margin" alt="Image">
     </div>
  </div>
  
  <!-- Footer -->
  <!-- <footer class="container-fluid bg-4 text-center">
    <p> <a href=""></a></p> 
  </footer> -->

</div> -->


