<!DOCTYPE html>
<html lang="en">
<head>
<title>Find Tournaments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
        body {
            font: 14px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }
        .navbar-nav  li a:hover {
            color: #a08614 !important;
        }
        .bg-1 { 
            background-color: #525252; /* Green */
            color: #ffffff;
        }
        .bg-3 { 
            background-color: #ffffff; /* White */
            color: #555555;
        }
        </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
      </ul>
    </div>
  </nav>

  <!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Find Friends</h3>
    <img src="" class="img-responsive img-circle margin" style="display:inline" alt="imgbg" width="500" height="600">
    <h3>Battle Gate</h3>
  </div>
  
  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">    
    <h3 class="margin">Where To Find Me?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p> <a href=""></a></p> 
  </footer>

</body>
</html>