<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if(typeof user !== "undefined"){ %>
            <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> logout</a></li>
          <% }else{ %>
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
         <% } %>
      </ul>
    </div>
  </nav>
  
<br><br>
  <!-- First Container -->
  <div class="container-fluid bg-12">
      <fieldset>
        <legend>How it works</legend>
      </fieldset>
        </div>
  
    <div class="container-fluid text-center">    
      <div class="container_how">
        <div class="col-sm-2 sidenav">
            <img src="http://i.imgur.com/dMD1C.jpg" class="img-responsive margin" >
            </div>
      <div class="col-sm-8 center"> 
        <p><h4>To explore Battle Gate you must creat a free account on the site.</h4> <br>
        <h4>We allow members who have common interests in games to find each other and interact.</h4><br>
        <h4>We are plataform that allows members to publiczise an event, invite guests and track who plans to attend.</h4><br>
        <h4>Once you create your account you can find tournaments and create your own events and invite your friends!</h4> 
        </p>
          <hr>
           
               </div>
                  <div class="col-sm-2 sidenav">
                    <div class="well">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHLV5BEc9WjSs623WV6CpdN_TZEVytrpp3axVZqFyzbRE1cp8Rlw"class="img-responsive margin" >
                    </div>
                    <div class="well">
                     
                    </div>
                  </div>
                </div>
              </div>
              
              <footer class="container-fluid text-center">
                  <Third Container (Grid)></Third>
                  <div>    
                        <img class="container-fluid bg-8 text-center"; src="http://1.bp.blogspot.com/-ioKzHjDoGYA/T-s-sBeuI_I/AAAAAAAABxE/meVnORy-Jv4/s1600-d/portadas-para-facebook-video-gamer.jpg" class="img-responsive margin" alt="Image">
                     </div>
                  </div>

              </footer>

