<!-- Navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
      </ul>
    </div>
  </nav>

  <!-- First Container -->
  <div class="container-fluid bg-12">
      <fieldset>
        <legend>How it works</legend>
      </fieldset>
        </div>
<div >
    <img  class="container-fluid bg-9 text-center"src="http://www.videojuegosadiario.com/wp-content/uploads/2012/10/t1-440245.jpg" class="img-responsive"  style="display:inline; position:relative " alt="imgbg">
    <div class="row">
      <div class="col-sm-4">
        <h4>To explore Battle Gate you must creat a free account on the site.</h4>
        <!-- <img src="" style="width:100%" alt="Image"> -->
      </div>
      <div  class="col-sm-4"> 
        <h4 >We allow members who have common interests in games to find each other and interact</h4>
        <!-- <img src="" style="width:100%" alt="Image"> -->
      </div>
      <div class="col-sm-4"> 
        <h4>We are plataform that allows members to publiczise an event, invite guests and track who plans to attend.</h4>
        <!-- <img src="" alt="Image"> -->
      </div>
    </div>
  </div>
  
  <!-- Second Container (Grid) -->
  <div class="container-fluid bg-5 text-center">    
    
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p> <a href=""></a></p> 
  </footer>
