<div id= "index">

  <!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>  
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
       <% if(typeof user !== "undefined"){ %>
          <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> logout</a></li>
        <% }else{ %>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
       <% } %>

      </ul>
    </div>
  </nav>

  
  <!--carrusel-->

      <div id="myCarousel" class="carousel slide bg-1" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <section style="text-align:center">
                <img src="http://gamedesignstorm.com/wp-content/uploads/2015/11/gaming-header.jpg" width="100%" height="500" alt="game1">
              </div>
          
              <div class="item">
                    <section style="text-align:center">
                <img src="https://www.tec.com.pe/wp-content/uploads/2017/07/viewsonic-240hz-620x347.png" width="100%" height="500" alt="game2">
              </div>
          
              <div class="item">
                    <section style="text-align:center">
                <img src="http://img.jakpost.net/c/2016/11/08/2016_11_08_15516_1478588658._large.jpg" width="100%" height="500" alt="game3">
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
          <!--fotos parte superior-->

  <div class="container bg-3">
    <div class="second_container">
      <div class="col-sm-4" >
          <section style="text-align:center">
        <h3><a style="text-decoration: none; color: white"; href="/how">How it works</a></h3>
       <a class="brand" href="/how">
        <img src="http://blog.riptapparel.com/blog/wp-content/uploads/2016/08/Gamer-Lifestyles-Blog-Image.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </a>
      </div>
      <div class="col-sm-4">
            <section style="text-align:center">
        <h3><a style="text-decoration: none; color: white"; href="/findbattle">Find Tournaments</a></h3>
        <a class="brand" href="/findbattle">
        <img src="https://edge.alluremedia.com.au/m/k/2016/11/iStock_80580655_1080.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </a>
      </div>
      <div class="col-sm-4">
            <section style="text-align:center">
        <h3><a style="text-decoration: none; color: white"; href="/createbattle">Create your Event</a></h3>
        <a class="brand" href="/createbattle">
        <img src="http://media.moddb.com/images/groups/1/8/7972/lets-play.jpg" class="img-responsive margin" style="width:100%" alt="Image">        
      </div>
    </a>
    </div>
  </div>

<!--footer-->
  <div class="container-footer bg-4">
      <section style="text-align:center">
    <h1>Battle Gate</h1>
    <p class="lead">Battle-Gate is a free social networking website for gamers that allows registered users to create profiles and keep in touch with other gamers.</p>
  </div>

</div>
  
