

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(typeof user !== "undefined"){ %>
          <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> logout</a></li>
        <% }else{ %>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
       <% } %>
      </ul>
    </div>
  </nav>
  <br><br>
  <!-- <form action="/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Log In">
    </div>
  </form>
  <%if (typeof message !== 'undefined'){%>
    <%=message%>
    <%}%> -->


    <div class="container" >
        <div class="container_login">
            <div class="col-md-6 col-md-offset-3">
    <form action="/login" method="POST" id="form-container"> <legend>Log In</legend>
      <h4>Ready to start?</h4>
      <div class="container_login">
          <div class="col-xs-6 col-md-12">
              <input type="text" name="username" class="form-control input-lg" placeholder="Username"/> 
             
              <input type="password" name="password" class="form-control input-lg" placeholder="Password" />
            
              <span class="help-block"></span>
              <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" value="Log In">
                 Log in</button>
                </div>
      
    <%if (typeof message !== 'undefined'){%>
      <%=message%>
      <%}%>
  </form>
  </div>
        </div>
        </div>
      
