  <!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/profile">Profile</a></li>  
        <li><a href="/findbattle">Find Tournaments</a></li>
        <li><a href="/createbattle">Create Batlle</a></li>
      </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
       <% if(typeof user !== "undefined"){ %>
          <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> logout</a></li>
        <% }else{ %>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
       <% } %>

      </ul>
    </div>
  </nav>
<br> <br> 
  <div class="container-fluid bg-12">
      <fieldset>
        <legend>Profile</legend>
      </fieldset>
        </div>

  <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3">
    
  <div class="card hovercard">
    <div class="cardheader">
    
      <div class="avatar">
      <img alt="" src="https://i.pinimg.com/736x/07/a3/0d/07a30de19f9de424e97dc0fd3dd70716--jocker-image-photography.jpg">
         </div>
           <div class="info">
      <div class="desc">Passionate designer</div>
      <div class="descrpción">Curious developer</div>
      <div class="desc">Tech geek</div>
      </div>
      <div class="bottom">
      <a class="btn btn-primary btn-twitter btn-sm" href="/findbattle">
      <i class="fa fa-twitter"></i>
      </a>
                        
                     
     <a class="btn btn-warning btn-sm" rel="publisher" href="/createbattle">
    <i class="fa fa-behance"></i>
      </a>
      <div class="form-group">
      <label for="exampleTextarea">Descripción/gustos/intereses</label>
      <textarea class="form-control" id="problema" rows="2"></textarea>
      </div>
      <div class="form-group">
      <label for="exampleSelect1">Rango de dificultad</label>
      <select class="form-control" id="exampleSelect1">
     <option>1</option>
     <option>2</option>
     <option>3</option>
     <option>4</option>
     <option>5</option>
    </select>
      </div>
       <div>
    <button type="submit" class="btn btn-primary">Submit</button>
       </div>
     </div>
  </div>
    
   </div>  
  </div>
 </div>
 
