<div id="create">

        <!-- Navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                    <a class="navbar-brand" href="/index">
                            <img src="" width="80" height="80" alt="">
                          </a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About us</a></li>
                <li><a href="/contactus">Contact</a></li>
                <li class="active"><a href="/createbattle">Create Battle</a></li>
                <li><a href="/findbattle">Find Battle</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <% if(typeof user !== "undefined"){ %>
                    <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> logout</a></li>
                  <% }else{ %>
                  <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                 <% } %>
              </ul>
            </div>
          </nav>
        
          <form action="/createbattle" method="POST" id="form-container">
            <br><br>
            <label for="name"><%=req.session.currentUser.username%></label>
            <input class='signupform' type="text" name="name">
            <br><br>
              <label for="date">Date</label>
              <input class='signupform' type="date" name="date" >
            <br><br>
              <label for="place">Place</label>
              <input class='signupform' type="text" name="place">
            <br><br>
                  <label for="type">Type</label>
                  <select class="form-control" id="exampleSelect1" name='type'>
                      Type
                      <option>--select--</option>
                      <option>Competitive (Battle for money)</option>
                      <option>Normal</option>
                    </select>
            <button>Create account</button>
            <%if (typeof message !== 'undefined'){%>
              <%=message%>
              <%}%>
          </form>
        
          <!-- Footer -->
          <footer class="container-fluid bg-4 text-center">
                </div>
        
              </div>