<!-- Navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                    <img src="" width="80" height="80" alt="">
                  </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if(typeof user !== "undefined"){ %>
            <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> logout</a></li>
          <% }else{ %>
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
         <% } %>
      </ul>
    </div>
  </nav>
 

  <form action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input class='signupform' type="text" name="username">
    <br><br>
    <label for="password">Password</label>
    <input class='signupform' type="password" name="password" >
    <br><br>
    <label for="email">Email</label>
    <input class='signupform' type="email" name="email">
    <br><br>
    <button>Create account</button>
    <%if (typeof message !== 'undefined'){%>
      <%=message%>
      <%}%>
  </form>


<!-- <div class="container" id="form-container">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/signup" method="POST" class="form" role="form">   <legend>Sign Up</legend>
                    <h4>It's free and always will be.</h4>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="Username" value="" class="form-control input-lg" placeholder="Username"  /> </div>
                    </div>
                    <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email"  />
                    <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password"  /><input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password"  />                    
                     <label>Gender : </label>  
                     <label class="radio-inline">
                     <input type="radio" name="gender" value="M" id=male /> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="F" id=female />                        Female
                    </label>
                    <br />
              <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Create my account</button>
                        <%if (typeof message !== 'undefined'){%>
                          <%=message%>
                          <%}%>
            </form>          
          </div> -->
</div>            
</div>
</div>