
body {
  font: 14px Montserrat, sans-serif;
  line-height: 1.8;
  background-color: #000000;
  color: #ffffff;
}

.navbar {
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 14px;
letter-spacing: 2px;
}

.navbar-nav  li a:hover {
  color:  #fd0000  !important;
}

.container-footer{
background-color: #525252;
color: #ffffff;
border: 0;
border-radius: 0;
margin-bottom: 0;
letter-spacing: 2px;
}

p {font-size: 16px;}
        .margin {margin-bottom: 20px;}
        .bg-1 { 
            background-color: #525252; /* Green */
            color: #ffffff;
        }
        .bg-2 { 
            background-color: #474e5d; /* Dark Blue */
            color: #ffffff;
        }
        .bg-3 { 
            background-color: #000000; /* White */
            color: #ffffff;
        }
        .bg-4 { 
            background-color: #2f2f2f; /* Black Gray */
            color: #fff;
        }
        .bg-5 { background-color: #2f2f2f; /* Black Gray */
            color: #fff; }
        .bg-6 { }

        .bg-7 {  background-color: #525252; /* Green */
            color: #000000;
            width: 50%;
            height: 40%;
            letter-spacing: 2px;
        }
        .bg-8 { }
        .bg-9 { }
        .bg-10 { }
        .bg-11 { }
        .bg-12 {background-color: #525252; /* Green */
            color: #000000;
            letter-spacing: 2px; }

            .bg-13 {background-color: #525252; /* Green */
                color: #000000;
                width: 50%;
                height: 40%;
             }
       